<footer class="footer">

	<div>
		<p class="footer__text">
			© Sonkes Audrey Copyright 2024 - Dans le cadre d'un Exercice
		</p>

		<!--
				<div class="footer__container">
					<a href="https://www.iubenda.com/privacy-policy/84561874" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Politique de confidentialité ">Politique de confidentialité</a>
		
					<a href="https://www.iubenda.com/privacy-policy/84561874/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Politique relative aux Cookies ">Politique relative aux Cookies</a>
				</div>
				-->
	</div>
</footer>
