@use "../mixins/mixins";

.burger {
    width: 100%;
    position: fixed;
    z-index: 999999;
    background-color: var(--vertSpecial);

    @include mixins.lg-lt {
        display: none;
    }

    &.active {
        background-color: var(--vertSpecial);
    }

    &__link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 10px 0 10px 20px;

        @include mixins.s {
            width: 35px;
            height: 35px;
        }

        & .burger__icon {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            & .burger__span {
                width: 100%;
                height: 4px;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--white);
                transition: background-color 0.2s ease-in-out;

                @include mixins.s {
                    height: 3px;
                }

                &.active {
                    background-color: transparent;
                }

                &::before,
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    display: block;
                    position: absolute;
                    background-color: var(--white);
                    transition: transform 0.2s ease-in-out;

                    @include mixins.s {
                        height: 3px;
                    }
                }

                &::before {
                    transform: translateY(-10px);
                }

                &.active::before {
                    transform: translateY(0px) rotateZ(45deg);
                }

                &::after {
                    transform: translateY(10px);
                }

                &.active::after {
                    transform: translateY(0px) rotateZ(-45deg);
                }

            }
        }
    }

    &__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        display: none;
        padding-bottom: 15px;

        &.active {
            display: block;
        }

        &-item {
            width: 100%;
            text-align: center;

            & .burger__menu-link {
                width: 100%;
                display: block;
                font-family: var(--font-family1);
                font-size: 16px;
                font-weight: 600;
                padding: 18px;
                color: var(--white);
                text-decoration: none;

                @include mixins.s {
                    padding: 15px;
                }

                &:hover {
                    text-decoration: underline solid var(--white);
                    text-decoration-thickness: 2px;
                    text-underline-offset: 7px;
                    font-size: var(--large);
                    border: 1px solid var(--white);
                    color: var(--white);
                }
            }
        }
    }
}