@use "../mixins/mixins";

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99999;

    &.active {
        background-color: var(--orangeSpecial);
    }

    .menu__link,
    .menu__submenu-link {
        width: 100%;
        height: 100%;
        display: block;
        font-family: var(--font-family1);
        font-size: 20px;
        color: var(--black);
        font-weight: 600;
        text-decoration-line: none;
        padding: 20px;

        &:hover {
            text-decoration: underline solid var(--vert);
            text-decoration-thickness: 3px;
            text-underline-offset: 7px;
            background-color: var(--orangeSpecial);
            font-size: larger;
            padding: 21px;

        }
    }

    .menu,
    .menu__submenu {
        list-style: none;
    }

    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &__item {
            width: 200px;
            height: fit-content;
            text-align: center;

            & .menu__link {
                position: relative;
            }

            & .menu__submenu {
                width: 200px;
                position: absolute;
                display: none;

                &.active {
                    display: block;
                    background-color: var(--orangeSpecial);
                }
            }
        }
    }

    .header__icon {
        display: flex;
        flex-direction: row;

        .header__cart,
        .header__account,
        .header__language {
            padding: 0 10px;

            &-image {
                width: 35px;
                height: 35px;
                transform: scale(1);
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

    @include mixins.lg {
        display: none;
    }
}