@use "../mixins/mixins";

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99999;

    &:hover,
    &.active {
        background-color: var(--vertSpecial);
    }

    &.active2 {
        background-color: var(--vert2);
    }

    @include mixins.lg {
        display: none;
    }

    .menu__link,
    .menu__submenu-link {
        width: 100%;
        height: 100%;
        display: block;
        font-family: var(--font-family1);
        font-size: 16px;
        color: var(--white);
        font-weight: 600;
        text-decoration-line: none;
        padding: 20px;

        &.active {
            font-weight: 400;
        }

        &:hover {
            text-decoration: underline solid var(--white);
            text-decoration-thickness: 2px;
            text-underline-offset: 7px;
            background-color: var(--vertSpecial);
            font-size: var(--large);
            transition: transform 0.1s ease-in-out;
        }

        & .menu__link-icon {
            transform: rotate(90deg);
            padding: 5px;

            &.active {
                transform: rotate(270deg);
            }
        }
    }

    .menu,
    .menu__submenu {
        list-style: none;
    }

    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &__itemSpecial {
            width: 210px !important;
        }

        &__item {
            width: 170px;
            height: fit-content;
            text-align: center;

            & .menu__link {
                position: relative;
            }

            & .menu__submenu {
                width: 210px;
                position: absolute;
                display: none;

                &.active {
                    display: block;
                    background-color: var(--vertSpecial);
                }

                &.active2 {
                    background-color: var(--vert2);
                }
            }
        }
    }

    .header__icon {
        display: flex;
        flex-direction: row;

        .header__cart,
        .header__account,
        .header__heart,
        .header__connexion {
            padding: 0 15px;

            &-image,
            &-icon {
                width: 30px;
                height: 30px;
                transform: scale(1);
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.3);
                }
            }

            &-image.active {
                display: none;
            }
        }
    }
}

.cart__number,
.favoris__number {
    display: flex;
    flex-direction: row;
    position: relative;

    &-container {
        width: 22px;
        height: 22px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        color: var(--white);
        background-color: var(--vert2);
        right: -15px;
        border: 1px solid var(--white);
        font-size: 12px;
    }
}