{% extends 'base.html.twig' %}

{% block title %}Réinitialisation
{% endblock %}

{% block body %}
	<section class="section section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Réinitialisation du mot de passe</h2>
		<div class="simpleBox simpleBox--align">
			<form class="form form--maxWidth form--flex form--supp" method="post">
				{{ form_start(ResetPasswordRequestForm)}}

				<div class="padding5">
					{{ form_row(ResetPasswordRequestForm.email)}}
				</div>

				<div class="button">
					<div class="button__container button__container--flex button__container--small">
						<button class="button__link button__link--textSmall button__link--supp" type="submit">Envoyer</button>
					</div>
				</div>
				{{ form_end(ResetPasswordRequestForm)}}
			</form>
		</div>
	</div>
</section>{% endblock %}
