{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section
		class="home"><!--
					<h1>Bonjour page Home</h1>
					-->
	</section>
	<section class="home1">
		<h1>Bonjour section nos produits</h1>
	</section>
</section>
<section class="home2">
	<h1>Bonjour section notre histoire</h1>
</section></section>{% endblock %}
