{% extends 'base.html.twig' %}

{% block title %}Admin - Ajout de Produits
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration d'ajout de Produits</h2>

		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">
				{% include 'includes/_components/_form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
