@use "../mixins/mixins";

.home__history {
    max-width: 100%;
    position: relative;
    background-image: url('../../../public/images/backgroundImages/champ-ble-ondulant-dans-fond-du-champ-vent_1268-30616.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    & .history__overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }

    & .history__title-h2,
    & .history__grid-container {
        position: relative;
        z-index: 2;
    }

    & .history__title-h2 {
        max-width: 100%;
        text-align: center;
        font-family: var(--font-family2);
        font-size: 48px;
        padding: 30px 0;

        @include mixins.lg {
            font-size: 40px;
        }
    }

    & .history__grid-container {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 80px;

        @include mixins.lg {
            padding: 40px;
        }

        & .history__grid {
            width: 75%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;

            @include mixins.xl {
                width: 85%;
            }

            @include mixins.lg {
                gap: 40px;
            }

            @include mixins.md-lt-lt {
                width: 90%;
            }

            @include mixins.md-lt {
                max-width: 70%;
                grid-template-columns: 1fr;
            }

            @include mixins.md {
                max-width: 90%;
            }

            @include mixins.s {
                max-width: 100%;
            }

            & .history__card-left {
                max-width: 100%;
                height: 610px;
                background-image: url('../../../public/images/backgroundImages/fond-papier-grunge_1048-10849.webp');
                border-radius: 20px;

                & .history__card-title {
                    max-width: 100%;
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: underline;
                    text-underline-offset: 8px;
                    font-size: 32px;
                    font-family: var(--font-family3);

                    @include mixins.md-lt-lt {
                        font-size: 30px;
                    }

                    @include mixins.xs {
                        font-size: 25px;
                    }
                }

                & .history__card-content {
                    max-width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 20px;

                    & .history__card-text {
                        font-family: var(--font-family3);
                        font-size: 22px;
                        padding: 10px;

                        @include mixins.xl {
                            font-size: 20px;
                            padding: 5px;
                        }

                        @include mixins.md-lt-lt {
                            font-size: 19px;
                        }

                        @include mixins.md-lt {
                            padding: 10px;
                        }

                        @include mixins.md {
                            padding: 5px;
                        }

                        @include mixins.s {
                            font-size: 17px;
                        }

                        @include mixins.xs {
                            font-size: 16px;
                        }
                    }
                }
            }

            & .swiper {
                max-width: 100%;
                height: 610px;
                border-radius: 20px;

                &-wrapper {
                    width: 100%;
                    height: 100%;

                    & .swiper-slide {
                        width: 100%;
                        height: 100%;

                        & .swiper__slide-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &-button-prev,
                &-button-next {
                    color: var(--white);
                }

                & .swiper-button-prev::after,
                & .swiper-button-next::after {
                    font-size: 35px;

                    @include mixins.s {
                        font-size: 25px;
                    }
                }

                & .swiper-pagination {
                    width: 100%;
                    height: 30px;

                    & .swiper-pagination-bullet {
                        width: 20px;
                        height: 20px;
                        opacity: 1;
                        background-color: var(--white2);

                        @include mixins.s {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    & .swiper-pagination-bullet-active {
                        background-color: var(--vert);
                    }
                }
            }
        }
    }
}