.home {
    background-image: url('../../../public/images/backgroundImages/recolter-du-ble-dans-pre-tranquille-au-coucher-du-soleil-genere-par-ia_24640-80628.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.home1 {
    background-color: green;
}

.home2 {
    background-color: red;
}