@use "../mixins/mixins";

.home {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/public/images/backgroundImages/recolter-du-ble-dans-pre-tranquille-au-coucher-du-soleil-genere-par-ia_24640-80628.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--font-family1);

    &.active {
        filter: blur(8px);
        transition: all 0.3s ease-in-out;
    }

    &__title-h1 {
        color: transparent;
    }

    &__logo {
        max-width: 100%;
        width: 380px;
        height: 450px;
        padding: 50px;

        @include mixins.md {
            width: 360px;
            height: 430px;
        }

        @include mixins.s {
            width: auto;
            height: 410px;
        }

        & .home__logo-image {
            width: 100%;
            height: 100%;
            transition: all 1s ease-out;
            transform: rotate(0);

            &:hover {
                transform: scale(1.2);
                filter: blur(0);
            }

            &.active {
                transform: rotate(15deg);
            }

            &.active2 {
                transform: rotate(-15deg);
            }
        }
    }

    &__language {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -40px;
        display: none;

        @include mixins.s {
            margin-top: -50px;
        }

        &-options {
            width: 100%;
            display: flex;
            justify-content: center;

            & .home__language-optionLeft,
            & .home__language-optionRight {
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                border-radius: 25px;
                border: 2px solid var(--white);
                font-size: 22px;
                text-decoration: none;

                @include mixins.lg {
                    font-size: 20px;
                }

                @include mixins.s {
                    font-size: 17px;
                }
            }

            & .home__language-optionLeft {
                margin-right: 70px;
            }

            & .home__language-optionRight {
                margin-left: 70px;
            }
        }
    }
}