@use "../mixins/mixins";

.section {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('/public/images/backgroundImages/champ-ble-ondulant-dans-fond-du-champ-vent_1268-30616.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    &--special {
        height: 100% !important;
    }

    &--padding {
        padding: 0 0 60px 0;
    }

    &__bg-overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }

    &__title-h2 {
        position: relative;
        z-index: 2;
    }

    &__title-h2 {
        max-width: 100%;
        text-align: center;
        font-family: var(--font-family2);
        font-size: 48px;
        padding: 90px 10px 30px 10px;

        @include mixins.lg {
            font-size: 40px;
        }
    }

    &__link {
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;

        &-container {
            width: 75%;
            display: inline-block;
            font-family: var(--font-family1);
            text-decoration: none;
            font-size: 20px;
            color: var(--black);

            @include mixins.s {
                font-size: 18px;
            }
        }

        &-icon {
            font-size: 20px;
            padding: 10px;
            transform: rotate(180deg);

            @include mixins.s {
                font-size: 18px;
            }
        }
    }
}