{% extends 'base.html.twig' %}

{% block title %}Admin - Édition de Producteurs
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration d'édition de Producteurs</h2>

		<div class="section__link">
			<a class="section__link-container" href="{{ path('admin_index')}}">
				<i class="fa-solid fa-chevron-right section__link-icon"></i>
				Retour
			</a>
		</div>

		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">
				{% include 'includes/_components/_producerForm.html.twig' with{'button_label': 'Modifier'} %}
			</div>
		</div>
	</section>
{% endblock %}
