{% extends 'base.html.twig' %}

{% block title %}Admin - Utilisateurs
{% endblock %}

{% block body %}
	<section class="section section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration des Utilisateurs</h2>

		<div class="simpleBox"></div>
	</section>
{% endblock %}
