{% extends 'base.html.twig' %}

{% block title %}Admin - Accueil
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Page test</h2>
	</section>
{% endblock %}
