<header class="header">
	<nav class="header__nav">
		<ul class="menu">
			<li class="menu__item">
				<a href="#" class="menu__link">Accueil</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link menu__link-special">Nos Produits</a>
				<ul class="menu__submenu">
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Boissons</a>
					</li>
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Fruits</a>
					</li>
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Légumes</a>
					</li>
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Boulangerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Crèmerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="#" class="menu__submenu-link">Bières</a>
					</li>
				</ul>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Notre Histoire</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Contact</a>
			</li>
		</ul>
	</nav>

	<div class="header__icon">
		<div class="header__language">
			<a href="#">
				<img class="header__language-image" src="{{ asset('images/icons/555625.png')}}" alt="icone représentant le drapeau de la Belgique">
			</a>
		</div>
		<div class="header__cart">
			<a href="#">
				<img class="header__cart-image" src="{{ asset('images/icons/Shopping-Cart-01-2561.png')}}" alt="icone représentant un panier en noir">
			</a>
		</div>
		<div class="header__account">
			<a href="#">
				<img class="header__account-image" src="{{ asset('images/icons/Business-Man-Add-02-2561.png')}}" alt="icone représentant le compte de l'utilisateur en noir">
			</a>
		</div>
	</div>
</header>
