@use "../mixins/mixins";

.button {
    width: 100%;
    display: flex;
    justify-content: center;

    &--marginTop {
        margin-top: 80px;
    }

    &--padding {
        padding: 20px;
    }

    &__container {
        height: 50px;
        background-color: var(--vert);
        border: none;

        &--large {
            width: 278px;
            border-radius: 30px;

            @include mixins.lg {
                width: 200px;
            }
        }

        &--small {
            width: 200px;
            border-radius: 20px;
        }
    }

    &__link {
        font-family: var(--font-family1);
        font-weight: 600;
        text-decoration: none;
        color: var(--black);

        &--textMedium {
            font-size: 20px;
        }

        &--textSmall {
            font-size: 18px;

            @include mixins.s {
                font-size: 17px;
            }
        }

        &:hover {
            font-size: larger;
        }
    }
}

.home__button-icon {
    margin: 2px 0 0 15px;
}