@use "../mixins/mixins";

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--marginTop {
        margin-top: 80px;
    }

    &--marginTop2 {
        margin-top: 40px;
    }

    &--padding {
        padding: 20px;
    }

    &__container {
        height: 50px;
        background-color: var(--vert);
        border: none;

        &--flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--large {
            width: 278px;
            border-radius: 30px;

            @include mixins.lg {
                width: 200px;
            }
        }

        &--small {
            width: 200px;
            border-radius: 20px;
        }
    }

    &__link {
        font-family: var(--font-family1);
        font-weight: 600;
        text-decoration: none;
        color: var(--black);

        &--supp {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &--textSmall {
            font-size: 16px;
        }

        &:hover {
            font-size: var(--large);
        }
    }
}

.home__button-icon {
    margin: 2px 0 0 15px;
}

.dashboard__button {
    background-color: red;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: var(--white);
    cursor: pointer;
}