@use "../mixins/mixins";

.form {
    width: 100%;
    font-family: var(--font-family1);
    font-size: 22px;
    font-weight: 600;

    &--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__ul {
        width: 100%;
        list-style: none;
        padding: 10px;
    }

    &__li {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        & .form-textarea {
            width: 100%;
            resize: none;

            @include mixins.s {
                font-size: 15px;
            }
        }
    }

    &__label {
        font-family: var(--font-family1);
        font-size: 22px;

        &--widthAuto {
            width: auto;
        }

        &--padding {
            padding: 30px;
        }

        &--supp {
            font-size: 20px !important;
        }

        @include mixins.md {
            font-size: 20px !important;
        }

        @include mixins.s {
            font-size: 17px !important;
        }
    }

    &__input {
        width: 100%;
        font-size: 17px;

        &--widthAuto {
            width: auto;
        }

        &--margin {
            margin: 10px 0;
        }

        &--supp {
            text-decoration: none !important;
            border: 1px solid var(--brun) !important;
            border-radius: 20px;
            padding: 10px !important;
            background-color: var(--white) !important;
        }

        @include mixins.s {
            font-size: 14px;
        }
    }

    &__input,
    &__textarea {
        font-family: var(--font-family1);
        font-size: 18px;
        font-style: italic;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px 0;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }

    &__textarea {
        resize: none;
    }

    /* Gestion des couelurs (background et autres) ==> uniformisation des différents navigateurs */
    &__input:-webkit-autofill,
    &__textarea:-webkit-autofill {
        -webkit-box-shadow: 0 0 5px 50px var(--gris) inset;
        box-shadow: 0 0 0px 1000px var(--gris) inset;
        -webkit-text-fill-color: var(--black);
    }

    &__input:-moz-autofill,
    &__textarea:-moz-autofill {
        background-color: var(--gris) !important;
        color: var(--black) !important;
    }

    &__input:-ms-autofill,
    &__textarea:-ms-autofill {
        background-color: var(--gris) !important;
        color: var(--black) !important;
    }
}