@use "../mixins/mixins";

.form {
    width: 100%;
    font-family: var(--font-family1);
    font-size: 22px;
    font-weight: 600;

    &--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__ul {
        width: 100%;
        list-style: none;
        padding: 10px;
    }

    &__li {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        & .form-textarea {
            width: 100%;
            resize: none;

            @include mixins.s {
                font-size: 15px;
            }
        }
    }

    &__label {
        width: 100%;
        font-family: var(--font-family1);
        font-size: 22px;

        &--widthAuto {
            width: auto;
        }

        &--padding {
            padding: 30px;
        }

        @include mixins.md {
            font-size: 20px;
        }

        @include mixins.s {
            font-size: 17px;
        }
    }

    &__input {
        width: 100%;
        font-size: 17px;

        &--widthAuto {
            width: auto;
        }

        &--supp {
            text-decoration: none !important;
            border: 1px solid var(--brun) !important;
            border-radius: 20px;
            padding: 10px !important;
        }

        @include mixins.s {
            font-size: 14px;
        }
    }

    &__input,
    &__textarea {
        font-family: var(--font-family1);
        font-size: 18px;
        font-style: italic;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px 0;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }

    &__textarea {
        resize: none;
    }
}