@use "../mixins/mixins";

.simpleBox {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 15px;

    &--align {
        height: 70vh;
        align-items: center;
    }

    &--column {
        flex-direction: column;
    }

    &__text {
        font-family: var(--font-family1);
        font-size: 20px;
        text-align: center;
        color: var(--vert);
    }
}