@use "../mixins/mixins";

.swiper {
    max-width: 100%;
    height: 550px;
    border-radius: 20px;

    &-wrapper {
        width: 100%;
        height: 100%;

        & .swiper-slide {
            width: 100%;
            height: 100%;

            & .swiper__slide-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-button-prev,
    &-button-next {
        color: var(--white);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 35px;

        @include mixins.s {
            font-size: 25px;
        }
    }

    &-pagination {
        width: 100%;
        height: 30px;

        &-bullet {
            width: 20px;
            height: 20px;
            opacity: 1;
            background-color: var(--white2);

            @include mixins.s {
                width: 15px;
                height: 15px;
            }

            &-active {
                background-color: var(--vert);
            }
        }
    }
}