* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
section {
    width: 100%;
    min-height: 100vh;
}

.padding5 {
    padding: 5px 0;
}

.padding10 {
    padding: 10px 0;
}

.padding20 {
    padding: 20px 0;
}

.width45 {
    width: 45%;
}