* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
section {
    width: 100%;

    &.active {
        overflow: hidden;
    }
}

.flex {
    display: flex;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding5 {
    padding: 5px 0;
}

.paddingAll5 {
    padding: 5px;
}

.padding10 {
    padding: 10px 0;
}

.paddingAll10 {
    padding: 10px;
}

.paddingTop5 {
    padding-top: 5px;
}

.padding20 {
    padding: 20px 0;
}

.margin5 {
    margin: 0 5px;
}

.margin10 {
    margin: 10px 0;
}

.margin15 {
    margin: 15px 0;
}

.margin20 {
    margin: 20px;
}

.width45 {
    width: 45%;
}

.width100 {
    width: 100%;
}

.widthAuto {
    width: auto !important;
}

.size12 {
    font-size: 12px;
}

.size15 {
    font-size: 15px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.red {
    color: red;
}

.vert {
    color: var(--vert);
}

.vert2 {
    color: var(--vert2);
}

.vert3 {
    color: var(--vert3);
}

.black {
    color: black;
}

.fontWeight500 {
    font-weight: 500;
}

.txtAlign {
    text-align: center;
}

.iconHeart {
    color: var(--black);

    &.active {
        color: red;
    }
}

.textDecorationNone {
    text-decoration: none;
}

.textDecoration {
    text-decoration: underline;
}

.textTickness {
    text-decoration-thickness: 2px;
}