* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
section {
    width: 100%;

    &.active {
        overflow: hidden;
    }
}

.padding5 {
    padding: 5px 0;
}

.paddingAll5 {
    padding: 5px;
}

.padding10 {
    padding: 10px 0;
}

.padding20 {
    padding: 20px 0;
}

.margin5 {
    margin: 0 5px;
}

.margin10 {
    margin: 10px 0;
}

.margin15 {
    margin: 15px 0;
}

.margin20 {
    margin: 20px;
}

.width45 {
    width: 45%;
}

.width100 {
    width: 100%;
}

.widthAuto {
    width: auto !important;
}

.size18 {
    font-size: 18px;
}

.red {
    color: red;
}

.txtAlign {
    text-align: center;
}

.iconHeart {
    color: var(--black);

    &.active {
        color: red;
    }
}

.color__vert {
    color: var(--vert);
}

.fontSize18 {
    font-size: 18px;
}