:root {
    --vertSpecial: rgba(199, 209, 69, 0.85);
    --vert: #C7D145;
    --vert2: #629a28;
    --brun: #382406;
    --white: #FFFFFF;
    --white2: rgba(255, 255, 255, 0.6);
    --gris: #e5e4e1;
    --black: #000000;

    // Variables pour les fonts
    --font-family1: 'Kodchasan', sans-serif;
    --font-family2: 'Marck Script', sans-serif;
    --font-family3: 'Almendra', sans-serif;

    // Variables pour les font-size
    --large: 20px;

}