:root {
    --vertSpecial: rgba(199, 209, 69, 0.5);
    --vert: #C7D145;
    --vert2: #629a28;
    --white: #FFFFFF;
    --black: #000000;
    --font-family1: 'Kodchasan', sans-serif;
    --font-family2: 'Marck Script', sans-serif;
}