:root {
    --brun: #382406;
    --brunSpecial: #38240680;
    --vertSpecial: rgba(199, 209, 69, 0.6);
    --orangeSpecial: rgba(241, 144, 62, 0.6);
    --vert: #C7D145;
    --white: #FFFFFF;
    --black: #000000;
    --font-family1: 'Kodchasan', sans-serif;
}