<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>
			{% block title %}Bienvenu - FermeDeTiti
			{% endblock %}
		</title>

		<link
		rel="icon" href="{{ asset('images/logo/Logo.ico') }}" type="image/x-icon">

		<!-- CSS permettant de télécharger les fonts de "font awesome" -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Marck+Script&display=swap" rel="stylesheet">

		<!-- CSS du carroussel (swiper) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<!-- JS du carroussels -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

		<!-- JS pour importation fontawesome-->
		<script src="https://kit.fontawesome.com/2cbf82340f.js" crossorigin="anonymous"></script>

	</head>
	<body>
		{% include 'includes/_partials/_header.html.twig' %}
		{% include 'includes/_components/_flashMessageActivate.html.twig' %}
		{% include 'includes/_components/_flashMessage.html.twig' %}

		{% block body %}{% endblock %}
		{% include 'includes/_partials/_footer.html.twig' %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
