{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert__message-{{ label }} alert__message-warning--flex alert__message-warning--special alert__message-warning--supp" role="alert">
			<p>
				{{ message|raw }}
			</p>
			<i class="fa-solid fa-xmark alert__message-icon2"></i>
		</div>
	{% endfor %}
{% endfor %}
