{% extends 'base.html.twig' %}

{% block title %}Warelles - Commandes
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Commandes</h2>

		<div class="simpleBox">
			<h2>Page Commandes</h2>
		</div>
	</section>
{% endblock %}
