{% extends 'base.html.twig' %}

{% block title %}Warelles - Paiement
{% endblock %}

{% block body %}
	<section class="section section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Paiement</h2>

		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">
				<h2>Bancontact</h2>
				<h2>Paypal</h2>
				<h2>Virement</h2>
			</div>
		</div>
	</section>
{% endblock %}
