{% extends 'base.html.twig' %}

{% block title %}Warelles - Erreur
{% endblock %}

{% block body %}
	<section class="section__error403 section--padding">
		<h2 class="section__title-h2">Page non Trouvée</h2</section>
		<div class="simpleBox simpleBox--align">
			<div class="box">
				<p class="box__text-item">Désolée, nous ne trouvons pas cette page</p>
				<div class="box__text-item2">
					<a class="box__item-link" href=" {{ path('home')}} ">
						Revenir au site
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
