{% extends 'base.html.twig' %}

{% block title %}Warelles - Erreur
{% endblock %}

{% block body %}
	<section class="section__error section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Page non Trouvée</h2>
		<div class="simpleBox simpleBox--align">

			<div class="form form--maxWidth form--flex form--supp">
				<div class="padding20">
					<a class="form__link-special" href="{{ path('home') }}">Revenir au site</a>
				</div>
			</div>


		</div>
	</div>
</section>{% endblock %}
