{% extends 'base.html.twig' %}

{% block title %}Warelles - erreur
{% endblock %}

{% block body %}
	<section class="section burger__effect products">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Erreur 403</h2</section>
	{% endblock %}
