{% extends 'base.html.twig' %}

{% block title %}Warelles - Article
{% endblock %}

{% block body %}
	<section class="section burgerEffect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Détails du produit</h2>
		<div class="dualbox">
			<div class="dualbox__container">
				<div class="dualbox__item-left">
					<img class="dualbox__image " src="{{ asset('images/articles/vue-face-jus-pomme-frais-pommes-fraiches-bureau-bois-marron-photo-cocktail-fruits-couleur-boisson_140725-92833.webp')}}" alt="image représentant l'image d'un jus de fruit">
				</div>
				<div class="dualbox__item-right">
					<div class="accordion">
						<p class="accordion__title">Jus de pommes</p>
						<div class="accordion__content">
							<div class="accordion__text">
								<p class="accordion__text-container">Nom de l'entreprise et producteur</p>
								<i class="fa-solid fa-chevron-right accordion__icon"></i>
							</div>
							<div class="accordion__text">
								<p class="accordion__text-container">Description du produit</p>
								<i class="fa-solid fa-chevron-right accordion__icon"></i>
							</div>
							<div class="accordion__text">
								<p class="accordion__text-container">Localisation de l'entreprise</p>
								<i class="fa-solid fa-chevron-right accordion__icon"></i>
							</div>
							<div class="accordion__text">
								<p class="accordion__text-container">Autres produits de ce producteur</p>
								<i class="fa-solid fa-chevron-right accordion__icon"></i>
							</div>

							<div class="button">
								<button class="button__container button__container--medium">
									<a class="button__link button__link--textMedium" href="#">Ajouter au panier</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
