{% extends 'base.html.twig' %}

{% block title %}Warelles - Cool
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Cool</h2>

		<div class="simpleBox">
			<h2>Votre commande est en ordre en paiement</h2>
		</div>
	</div>
</section>{% endblock %}
